<widget id="com.yoursite" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:cocoon="http://cocoon.io/ns/1.0">
    <name>L'angolo nerd</name>
    <description>
        L'angolo nerd official app
    </description>
    <author email="aronnebrivio@langolonerd.it" href="http://www.langolonerd.it">
        Aronne Brivio
    </author>

    <content src="http://www.langolonerd.it" />

    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />

    <cocoon:plugin name="com.ludei.webviewplus.ios" />
    <cocoon:plugin name="com.ludei.webviewplus.android" />

    <plugin name="cordova-plugin-whitelist" version="1"/>
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    
</widget>
